*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #120033;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kords{
    background: #ff2600;
    border-radius: 9px;
    height: 30px;
    width: 200px;
    margin-top: 100px;
    text-align: center;
}
.opacit{
    position: absolute;
    top: 0;
    background: linear-gradient(0deg,#08002700,#080027);
    width: 100%;
    height: 30vh;
    z-index: 99;
}
.dom{
    width: 100%;
    height: 100vh;
}
.domElki{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(dom.png);
    z-index: 200;
    background-position: center;
    background-size: cover;
}